{% extends "base.html" %}

{% block content %}
  <h1>
    Title: {{ newspaper.title }}
    <a style="float: right" href="{% url 'agency:newspaper-list-update' pk=newspaper.id %}">Edit</a>
  </h1>
  <p><strong>Topic:</strong> {{ newspaper.topic }}</p>
  <p><article>{{ newspaper.content }}</article><p>
  <p><strong>Publisher date:</strong> {{ newspaper.publisher_date }}</p>

  <div class="ml-3">
    <h3>Redactors</h3>

    {% for redactor in newspaper.publishers.all %}
      <hr>
      <p class="text-muted"><strong>Id:</strong> {{ redactor.id }}</p>
      <p><strong>Full name:</strong> {{ redactor.first_name }} {{ redactor.last_name }}</p>
    {% endfor %}
    

  </div>
{% endblock %}