{% extends "base.html" %}

{% block content %}
  <h1>
    Redactors List
    <a style="float: right" class="btn btn-primary" href="{% url 'agency:redactor-list-create' %}">+</a>
  </h1>
  {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for redactor in redactor_list %}
        <tr>
          <td>
            {{ redactor.id }}
          </td>
          <td>
            {{ redactor.first_name }}
          </td>
          <td>
            {{ redactor.last_name }}
          </td>
          <td>
            {{ redactor.years_of_experience }}
          </td>
          <td>
            <a href="{% url 'agency:redactor-list-update' pk=redactor.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'agency:redactor-list-delete' pk=redactor.id%}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
      
    </table>
    {% else %}
      <p>The are no Redactors in Agency</p>
  {% endif %}
{% endblock %}
